.preview-button {
  display: inline-block;
  width: 100%;
  width: calc(100% - 3px);
  margin-bottom: 5px;
}

.preview-button .md-button { margin: 0; }
.preview-button--preview { border-radius: 0 4px 0 0; }
.preview-button--edit { border-radius: 4px 0 0 0; }

.preview-button--selected {
  z-index: 1;
  &:hover { background: $card-background-color !important; }
  border: 1px solid $border-color;
  border-bottom: 1px solid $card-background-color;
  background: $card-background-color;
  margin-bottom: -1px !important;
}

.preview-button--unselected {
  &:hover { background: lighten($background-color, 5%) !important; }
  background: $background-color;
}
